@font-face {
  font-family: alef-bold;
  src: url(font/Alef-Bold.ttf);
}


@font-face {
  font-family: alef-regular;
  src: url(font/Alef-Regular.ttf);
}


@font-face {
  font-family: cen;
  src: url(font/CENSCBK.ttf);
}


@font-face {
  font-family: din;
  src: url(font/DINEngschriftStd.ttf);
}

.d_mission{
    width: 90%;
    margin: 0 auto;
    background-color: #E6E7E8;
    padding-bottom: 5%;
}

.d_mission_image{
    object-fit: cover;
    width: 100%;
    position: relative;
}
img.d_mission_full_img{
    width: 100%;
    height: 80%;
}
.d_mission_title{
    background-color: #787878;
    font-family:  alef-bold;
    position: absolute;
    width: 300px;
    opacity: .70;
    margin-top: -7%;
    padding-left: 5%;
}
.d_mission_title h2{
    color: white;
    font-size: 32px;
    padding-top: 2px;
    font-weight: 800;

}
.d_mission_content{
    display: block;
    background-color: white;
    line-height: 3;
    margin: -5% 5% 0 5%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5% 3% 5% 5%;
    position: relative;
    z-index: 1000;
}

.d_mission_content p{
    font-family:  alef-regular;
    color: #808080;
    text-transform: uppercase;
    margin-left: 2%;
    margin-top:  -2%;
    padding-bottom: .7rem;
    border-bottom: 2px solid #A9A9A9;

}
.d_mission_content ul{
    font-family:  alef-regular;
}
.d_mission_content ul li:first-child{
    list-style: none;
    color: #1b75bc ;
    font-size: 24px;
    margin-left: -2%;
}
.d_mission_content ul li:last-child{
    list-style: none;
    font-size: 18px;
    margin-left: -2%;
    margin-top: 1rem;
    line-height: 1.7;
}
.page-template-mission{
    margin-bottom: 0;
}

        /*///////*/
/*CSS for Mission Ends*/
        /*///////*/

        /*///////*/
/*CSS for School Board Starts*/
        /*///////*/

.d_school_board{
    width: 90%;
    margin: 0 auto;
    background-color: #E6E7E8;
    padding-bottom: 5%;
}

.d_board_image{
    object-fit: cover;
    width: 100%;
    position: relative;
}

.d_board_title{
    font-family: alef-bold;
    position: absolute;
    color: white;
    font-size: 40px !important;
    font-weight: 800;
    z-index: 100;
    margin-top: -12%;
    margin-left: 15%;
    font-size: 18px;
}
.d_board_full_img{
    width: 100%;
    height: 80%;
}
.d_board_content{
    font-family: alef-regular;
    display: block;
    background-color: white;
    line-height: 2;
    margin: -5% 5% 0 5%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5% 3% 5% 5%;
    position: relative;
    z-index: 1000;
}

.d_board_content h4{
    font-size: 16px;
    color: #808080;
    text-transform: uppercase;
    margin-top:  -2%;
    margin-bottom: 5%;
    padding-bottom: .7rem;
    border-bottom: 2px solid #A9A9A9;
}

.d_board_content p{
    margin-bottom: 3%;
}

.d_board_content p:first-of-type{
    color: #1b75bc;
    font-size: 17px;
}
.page-template-school-board{
    margin-bottom: 0;
}

        /*///////*/
/*CSS for School Board Ends*/
        /*///////*/

        /*///////*/
/*CSS for Admission Starts*/
        /*///////*/

.d_admission{
    width: 90%;
    margin: 0 auto;
    font-family: alef-regular;
    overflow: hidden;
    padding-bottom: 5%;
}
.d_admission_image img{
    width: 100%;
    height: 95vh;
    object-fit: cover;
    margin-top: -3%;
}


.d_admission_content{
    margin: 5%;
    text-align: justify;
}
.d_admission_home p{
    padding: 10px 0;
    border-bottom: 2px solid #A9A9A9;
    text-transform: uppercase;
    margin-bottom: 5%;
}

/*.d_admission_content p:nth-child(2){
    margin: 4% 0 6% 0;
    text-align: justify;
}
*/
/*.d_admission_content1 p:first-child{
    font-size: 18px;
    font-weight: 600;
    margin-left: -12px;
}*/
.d_admission_content1 p:nth-child(3){
   /* font-size: 16px;
    font-weight: 600;*/
    margin-top: 10%;
    /*margin-left: -12px;*/
}
.d_admission_content2 p:nth-child(2){
    margin-top: 5%;
    font-size: 18px;
    font-weight: 600;
}
.d_admission_content ul{
    margin-left: 0;
}
.d_admission_content ul li{
    margin: 4% 4% 4% 1%;
}
.d_admission_2nd_content{
    margin-left: 10px;
}
.page-template-admission{
    margin-bottom: 0;
}

        /*///////*/
/*CSS for Admission Ends*/
        /*///////*/

        /*///////*/
/*CSS for Alumni Starts*/
        /*///////*/

.d_alumni{
    width: 90%;
    margin: 0 auto;
    font-family: alef-regular;
    overflow: hidden;
    padding-bottom: 5%;
}

.d_alumni_content{
    line-height: 2;
    margin: 5%;
    text-align: justify;
}

.d_alumni_text{
    margin: 3%;
}
.d_alumni_text2{
    margin: 3% 0 0 3%;
}
.d_alumni_text2 p:first-child{
    font-size: 18px;
    font-weight: 600;
}
.d_alumni_text2 p:nth-child(2){
    font-size: 14px;
}
.d_alumni_form-News{
    margin: 0 3% 3% 7%;
}
.d_alumni_form{
    margin-bottom: 5%;
}
.d_fieldset input{
  width: 300px;
  border: 2px solid #eeeeee;
  height: 40px;
  margin: 10px 0 20px 0;
  padding: 1%;
  font-size: 0.8em;
  line-height: 1.5em;
  color: #333333;
  background-color: #F8F8FF;

}
.d_fieldset input:nth-child(5){
  height: 60px;
}
.d_fieldset input:nth-child(11){
  width: 200px;
}
.d_fieldset input:last-child{
  width: 100px;
  cursor: pointer;
}
.d_fieldset textarea{
    width: 300px;
    margin: 10px 0;
    background-color: #F8F8FF;
}
.d_alumni_news{

}
.d_alumni_news .d_alumni_p{
    font-size: 18px;
    width: 200px;
    color: #1c75bc;
}
.d_alumni_news .d_alumni_p::after{
    margin-top: 5px;
    content: '';
    display: block;
    width: 40%;
    height: 3px;
    background: #1c75bc;
    transition: width .3s;
}
.d_alumni_news p:hover:after{
    width: 100%;
}
.d_alumni_update{
    margin-top: 5%;
    margin-right: 30%;
}

.d_alumni_news_wrap:nth-child(1),
.d_alumni_news_wrap:nth-child(2){
    margin-bottom: 5%;
    border-bottom: 1px solid #1c75bc;
}

.d_alumni_date{
    font-size: 14px;
}
.d_alumni_date span{
    padding: 0 10px;
}
.d_alumni_update h4{
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0;
}
.d_alumni_text_3{
    font-size: 12px;
}

.d_alumni_more{
    color: #1c75bc;
    text-align: right;
}

.page-template-alumni{
    margin-bottom: 0;
}
.d_footer_logo{
  display: none;
}
.d_footer_padding{
  margin-top: 4rem;
}

/*Media Query Starts*/


/* /Large devices (desktops, less than 1200px)*/
@media (max-width: 1200px) {
    .d_admission_ongoing .wp-block-media-text{
        margin-right: 20% !important;
}
.d_admission_ongoing .d_2nd_pdf{
        margin-right: 200px !important;

}
}


/* //Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
   .d_admission_lastDiv{
    margin-left: 5%;
}
    .d_admission_pdf1{
    width: 250px;

}
    .d_admission_ongoing .d_ongoing_p{
    margin: 5% 0 0 50%;
    font-size: 24px;
}
    .d_admission_ongoing .wp-block-media-text{
    margin: -20% 10% 0 50%;

}
.d_admission_ongoing .d_2nd_pdf{
    margin: -10% 0 0 50%;

}
.d_footer_logo{
  display: block;
}
}

/* //Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
    .d_mission_content ul li:first-child
    {
    font-size: 18px;
    margin-left: -2%;
    line-height: 2;
}
    .d_admission_fees img{
    margin-right: 0;
    height: 400px;
}

    .d_admission_fees ul{
    margin-left: 10% !important;
}
    .d_admission_ongoing .d_ongoing_p{
    margin: 5% 0 0 25%;
    font-size: 24px;
}
    .d_admission_ongoing .wp-block-media-text{
    margin: -30% 0 0 25%;

}
    .d_admission_ongoing .d_2nd_pdf{
    margin: -15% 0 0 25%;

}
    .d_admission_ongoing figure{
    height: 40px;
    width: 40px;
}
    .d_admission_ongoing .wp-block-media-text__media{
    margin-left: 20px;
}
.d_admission_ongoing .wp-block-media-text__content{
    margin: 3% 0 0 13%;
    line-height: 1.2;
}

}

/*
/* //Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {

    .d_mission_title{
        font-size: 24px;
    }
    .d_mission_content p{
        font-size: 14px;
    }
    .d_mission_content ul li:first-child,
    .d_mission_content ul li:last-child
    {
    font-size: 16px;
    margin-left: -12%;
    margin-bottom: 5%;
    line-height: 2;
}
    .d_mission_content ul li:nth-child(2),
    .d_mission_content ul li:nth-child(3),
    .d_mission_content ul li:nth-child(4),
    .d_mission_content ul li:nth-child(5){
        font-size: 14px;
        line-height: 2;
        margin-left: -10%;

    }
    .d_board_content{
    line-height: 2;
    margin: -5% 10% 0 10%;
    padding: 5% 3% 5% 5%;

}

    .d_board_content h4{
    font-size: 14px;
}
    .d_board_content p{
        font-size: 14px;
    }
    .d_board_content p:first-of-type{
    font-size: 14px;
}
    .d_admission_process p:first-child{
        font-size: 14px;
    }
    .d_admission_process p:nth-child(2),
    .d_admission_process p:nth-child(3),
    .d_admission_process p:nth-child(4),
    .d_admission_process p:nth-child(6),
    .d_admission_process p:nth-child(8),
    .d_admission_process p:nth-child(10),
    .d_admission_fees p:nth-child(3),
    .d_admission_fees p:nth-child(5){
        font-size: 16px;

    }


    .d_admission_process p:nth-child(7),
    .d_admission_process p:nth-child(9),
    .d_admission_process p:nth-child(11),
    .d_admission_process ul,
    .d_admission_fees ul{
        font-size: 14px;


    }
    .d_admission_process p{
        font-size: inherit;
    }
        .d_admission_ongoing .wp-block-media-text{
            font-size: 12px;
            width: 80%;
          margin: -35% 0 0 7%;

}
    .d_admission_ongoing .d_2nd_pdf{
    margin: -18% 0 0 7%;

}
     .d_admission_ongoing figure{
    height: 30px;
    width: 30px;
}

    .d_admission_ongoing .d_ongoing_p{
    margin: 0 0 0 20%;
    font-size: 16px;
    font-weight: 600;
}
    .d_admission_ongoing .wp-block-media-text__media{
    margin-left: 10px;
}
    .d_admission_ongoing .wp-block-media-text__content{
    margin: 3% 0 0 1%;
    line-height: 1.2;
}
       .d_admission_pdf1{
            text-align: center;
           margin-left: 10%;

}
    .d_admission_pdf1{
    width: 250px;
    margin: 5% 5%;
    padding: 3px;
}
    .d_pdf_img{
    width: 40px;
    height: 40px;
}
    .d_admission_pdf1 p{
    padding: 5px 0 0 30px;
    font-size: 16px;
}
.d_qInfo, .d_footer_padding{
  display: none;
}
.o_footer_paragraph{
  margin-bottom: 20px;
  font-size: 14px;
}
.o_footer_headline{
  font-size: 1.1rem;
  margin-bottom: -5px;
}
}

/* FROM NAEEB*/

.n_admissionList
{
    font-size:20px;
}
